- name: Enable copr repo to get latest version
  become: true
  ansible.builtin.command: dnf copr enable ashbuk/Hyprland-Fedora

- name: Install hyprland compositor and dynamic tiling window manager and complementary apps
  become: true
  ansible.builtin.dnf:
    name:
      - fuzzel
      - hyprland
      - hyprland-qtutils
      - hyprlock
      - hyprpaper
      - hyprshot
      - mako 
      - sddm
      - uwsm
      - waybar
    state: present

- name: Configure sddm to use Wayland
  become: true
  ansible.builtin.ini_file:
    path: /etc/sddm.conf
    section: General 
    option: "{{ item.option }}"
    value: "{{ item.value }}"
    create: false
  loop:
    - { option: DisplayServer, value: wayland }
