- name: Install OpenSSH server package
  become: true
  ansible.builtin.dnf:
    name: openssh-server
    state: present

- name: Start and enable SSH service
  become: true
  ansible.builtin.systemd:
    name: sshd
    state: started
    enabled: true

- name: Allow SSH through firewall (firewalld)
  become: true
  ansible.posix.firewalld:
    service: ssh
    permanent: true
    state: enabled

- name: Reload firewall to apply changes (firewalld)
  become: true
  ansible.builtin.command: firewall-cmd --reload

- name: Check SSH service status
  become: true
  ansible.builtin.systemd:
    name: sshd
    state: started
  register: ssh_status

- name: Debug SSH service status
  ansible.builtin.debug:
    msg: "SSHD service is {{ ssh_status.state }}"
