- name: Install development tools
  become: true
  ansible.builtin.dnf:
    name: "{{ dev_tools }}"
    state: present

- name: Enable wezterm Copr repository
  become: true
  ansible.builtin.command: dnf copr enable wezfurlong/wezterm-nightly -y

- name: Enable yazi Copr repository
  become: true
  ansible.builtin.command: dnf copr enable lihaohong/yazi -y

- name: Install CLI tools
  become: true
  ansible.builtin.dnf:
    name: "{{ cli_tools }}"
    state: present

- name: Install PyCharm as a flatpak
  become: true
  community.general.flatpak:
    name: com.jetbrains.PyCharm-Professional
    state: present
    method: system 

- name: Install RustRover as a flatpak
  become: true
  community.general.flatpak:
    name: com.jetbrains.RustRover
    state: present
    method: system 
