- name: Install docker
  become: true
  ansible.builtin.dnf:
    name:
      - docker
      - docker-compose
    state: present 

- name: Start and enable docker service
  become: true
  ansible.builtin.systemd:
    name: docker 
    state: started
    enabled: true
