- name: Install Rust
  include_tasks: rust_fedora.yml
  when: ansible_facts['os_family'] == "RedHat"

- name: Install Rust on macOS using Homebrew
  include_tasks: rust_macos.yml
  when: ansible_facts['os_family'] == "Darwin"

- name: Ensure ~/.cargo/bin is in PATH for this session
  ansible.builtin.shell: |
    echo 'export PATH="/home/{{ real_user }}/.cargo/bin:$PATH"' >> "/home/{{ real_user }}/.bashrc"

- name: Install Cargo packages
  community.general.cargo:
    name: 
      - cargo-udeps
      - cargo-update
      - cargo-watch
      - du-dust
      - dua
      - eza
      - hyperfine
      - starship
      - tokei
      - typst-cli
    state: present
    executable: "/home/{{ real_user }}/.cargo/bin/cargo"
    locked: true
  become: true
  become_user: "{{ real_user }}"
  environment:
    PATH: "/home/{{ real_user }}/.cargo/bin:{{ ansible_env.PATH }}"
