- name: Install tailscale
  become: true
  ansible.builtin.dnf:
    name: tailscale
    state: present

- name: Enable and start Tailscale service
  become: true
  ansible.builtin.systemd: 
    name: tailscaled
    enabled: yes
    state: started
