- name: Install tailscale
  become: true
  ansible.builtin.dnf:
    name: tailscale
    state: present

- name: Enable and start Tailscale service
  become: true
  ansible.builtin.systemd: 
    name: tailscaled
    enabled: yes
    state: started

- name: Ensure NAS music share is automounted
  ansible.posix.mount:
    src: "//nas/music"
    path: "/home/{{ real_user }}/Media/Music"
    fstype: cifs
    opts: "credentials=/home/{{ real_user }}/.smbcredentials,iocharset=utf8,noauto,x-systemd.automount,_netdev,x-systemd.idle-timeout=600"
    state: mounted

- name: Ensure NAS movie share is automounted
  ansible.posix.mount:
    src: "//nas/movie"
    path: "/home/{{ real_user }}/Media/Movie"
    fstype: cifs
    opts: "credentials=/home/{{ real_user }}/.smbcredentials,iocharset=utf8,noauto,x-systemd.automount,_netdev,x-systemd.idle-timeout=600"
    state: mounted

- name: Ensure NAS photo share is automounted
  ansible.posix.mount:
    src: "//nas/photo"
    path: "/home/{{ real_user }}/Media/Photo"
    fstype: cifs
    opts: "credentials=/home/{{ real_user }}/.smbcredentials,iocharset=utf8,noauto,x-systemd.automount,_netdev,x-systemd.idle-timeout=600"
    state: mounted
