- name: Enable Nordzy icon repository
  become: true
  ansible.builtin.command: dnf copr enable rubemlrm/nordzy-icon -y

- name: Ensure .themes directory exists
  ansible.builtin.file:
    path: "/home/{{ real_user }}/.themes"
    state: directory
    owner: "{{ real_user }}"
    mode: "0755"
  become: true
  become_user: "{{ real_user }}"

- name: Clone the Nordic theme repo
  ansible.builtin.git:
    repo: "https://github.com/EliverLara/Nordic.git"
    dest: "/home/{{ real_user }}/.themes/Nordic"
    update: no
  become: true
  become_user: "{{ real_user }}"

- name: Install fonts and themes
  become: true
  ansible.builtin.dnf:
    name: "{{ fonts + themes + apps }}"
    state: present
